# Environment variables
.env
.env.local

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Databases
*.db
*.sqlite3

# PDFs / large data files
*.pdf
data/
backend/data/